.note-container {
    width: 800px;
    height: 400px;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    background-color: skyblue;
  }
  
  .notes-wrapper {
    border: 1px solid #ccc;
    width: 760px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
    margin: 10px;
    background-color: lightblue;
  }