.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightblue; 
}

.message .content {
  font-size: 14px;
}

.message .receiver-username {
  color: #777;
  font-size: 12px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.receiver-input,
.message-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.send-button {
  margin-left: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: url('ChatContainerImage.jpg');
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  background-color: lightblue; /* Fallback background color */
}

/* Hover effect for send button */
.send-button:hover {
  background-color: #0056b3;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.marquee p {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.limited-width-container {
  width: 400px;
  margin: 0 auto;
}

.limited-height-list {
  max-height: 100px;
  overflow-y: auto;
}



