/* Styling for chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: lightblue; 
}

/* Styling for message content */
.message .content {
  font-size: 14px;
}

/* Styling for receiver's username */
.message .receiver-username {
  color: #777;
  font-size: 12px;
}

/* Styling for input container */
.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

/* Styling for input fields */
.receiver-input,
.message-input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Styling for send button */
.send-button {
  margin-left: 10px;
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Styling for chat container */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh; /* Set minimum viewport height */
  padding: 20px;
  background-color: rgb(203, 221, 227);
}

/* Hover effect for send button */
.send-button:hover {
  background-color: #0056b3;
}

.marquee {
  white-space: nowrap;
  overflow: hidden;
  width: 100%; /* Adjust as needed */
}

.marquee p {
  display: inline-block;
  animation: marquee 10s linear infinite; /* Adjust animation duration as needed */
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.limited-width-container {
  width: 400px;
  margin: 0 auto;
}

.limited-height-list {
  max-height: 100px; /* Set the maximum height you desire */
  overflow-y: auto; /* Add a vertical scrollbar when the content overflows */
}



